app = "bryce-rodgers"
primary_region = "ord"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 8_501
min_machines_running = 0
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "2gb"
memory_mb = 2_048
